.App{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
  background: #7F7FD5;
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  ;
}

.search-form{
  display: flex;
  justify-content: center;
}

.search-bar{
  color: #FFF;
  font-size: 20px;
  width: 100%;
  min-height: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #FEFAE0;
  background-color: transparent;
  outline: none;
}

.search-button{
  border-radius: 10%;
  border: none;
  background-color: #1545FF;
  color: #FFF;
}

.recipes{
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}